.container {
  text-align: center;
}

.main-bg {
  position: relative;
  z-index: -2;
  height: 300px;
  background-image: url("./img/bg.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.container .discount {
  text-align: center;
  background-color: #e86767;
  color: white;
  width: 100%;
  margin: 10px 0;
}

.container .num-input {
  margin-bottom: 10px;
}

.more-button {
  margin: 10px;
  text-align: center;
}

.tab-btn {
  margin: 10px 10px 0 10px;
}

.tab-container {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #bbd0f1;
}
.detail {
  margin-right: 10%;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.detailStart {
  opacity: 0;
}

.detailEnd {
  opacity: 1;
  transition: opacity 0.5s;
}

.goods-list {
  display: flex;
  margin-right: 10%;
}
.side-bar {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40%;
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
}
